[["guestbook.ja.md"        "Your First Application"]
 ["repl.ja.md"             "REPL Driven Development"]
 ["profiles.ja.md"         "Application Profiles"]
 ["html_templating.ja.md"  "HTML Templating"]
 ["assets.ja.md"           "Static Assets"]
 ["clojurescript.ja.md"    "ClojureScript"]
 ["routes.ja.md"           "Routing"]
 ["services.ja.md"         "RESTful Services"]
 ["requests.ja.md"         "Request types"]
 ["responses.ja.md"        "Response types"]
 ["websockets.ja.md"       "Websockets"]
 ["middleware.ja.md"       "Middleware"]
 ["sessions_cookies.ja.md" "Sessions and Cookies"]
 ["input_validation.ja.md" "Input Validation"]
 ["security.ja.md"         "Security"]
 ["components.ja.md"       "Component Lifecycle"]
 ["database.ja.md"         "Database Access"]
 ["migrations.ja.md"       "Database Migrations"]
 ["logging.ja.md"          "Logging"]
 ["i18n.ja.md"             "Internationalization"]
 ["testing.ja.md"          "Testing"]
 ["environment.ja.md"      "Environment Variables"]
 ["deployment.ja.md"       "Deployment"]
 ["useful_libraries.ja.md" "Useful Libraries"]
 ["apps.ja.md"             "Sample Applications"]
 ["upgrading.ja.md"        "Upgrading"]
 ["learning_clojure.ja.md" "Clojure Resources"]
 ]
